<div class="main-div">
  <nav>
    <input type="checkbox" id="check">
    <label for="check">
      <mat-icon id="btn">menu</mat-icon>
      <mat-icon id="cancel">close</mat-icon>
    </label>
    <img src="/assets/noble/NameofCompany.svg">
    <ul id="menu">
      <li><a href="#home" (click)="closeMenu()">Home</a></li>
      <li><a href="#intro" (click)="closeMenu()">Intro</a></li>
      <li><a href="#main" (click)="closeMenu()">Services</a></li>
      <li><a href="#footer" (click)="closeMenu()">Contact</a></li>
      <!-- <li><a href="#">Feedback</a></li> -->
    </ul>
  </nav>
</div>
