/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Global styles for the main div */
.main-div {
    z-index: 2;
    position: relative;
}

/* Navigation bar styles */
nav {
    height: 80px;
    background-color: #FFFFFF;
    opacity: 0.5;
    filter: alpha(opacity=50);
    opacity: 1.7;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Logo image styles */
nav img {
    width: 250px;
    position: absolute;
    top: 18px;
    left: 4%;
    fill: var(--secondary);
}

/* Media query for responsive navigation */
@media (max-width:860px) {
    nav img {
        width: 180px;
        position: absolute;
        top: 13px;
        left: 4%;
        fill: var(--secondary);
    }

    nav {
        height: 55px;
    }

    label #btn,
    label #cancel {
        top: -10px;
    }

    #check:checked~ul {
        top: 54px;
    }
}

/* Styles for navigation menu items */
nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: black;
    font-size: 18px;
    padding: 5px;
    text-transform: uppercase;
}

/* Styles for the underline animation on hover */
nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Active link styles */
nav ul li a:active {
    color: rgb(110, 108, 108);
}

/* Styles for the responsive hamburger menu */
label #btn,
label #cancel {
    position: relative;
    color: black;
    font-size: 30px;
    float: right;
    margin-top: 24px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* Checkbox to control the hamburger menu */
#check {
    display: none;
}

/* Media query for responsive navigation menu */
@media (max-width:860px) {
    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--secondary);
        top: 54px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #cancel {
        display: block;
    }

}