<div id="page-wrapper">
    <!-- Footer -->
    <section id="footer" class="wrapper">
        <div class="title"> Join the Noble Wave</div>
        <div class="container">
            <div>
                <h3>Contact Us</h3>
                <p>
                    Ready to elevate your digital presence? Reach out to us today, and let's start building the future
                    of your business together."
                </p>
                <div fxLayout="row" fxLayoutGap="20px">
                    <div>
                        <mat-icon>call</mat-icon>
                    </div>
                    <div>
                        <p>(+91) 844 846-2846</p>
                    </div>
                </div>
            </div>

            <div id="copyright">
                <ul>
                    <li>&copy;{{currentYear}} NOBLE WAVE</li>
                    <!-- <li>Design:NITISH KUMAR</li> -->
                    <!-- <li>CEO: <a href="">MD. IRSHAD ALI</a></li> -->
                </ul>
            </div>

        </div>

    </section>
</div>