#page-wrapper>section {
    margin-bottom: 0;
    margin-top: 50px;
}

.wrapper {
    position: relative;
    padding: 6em 0 9em 0;

    .title {
        position: absolute;
        top: 0;
        left: 50%;
        text-align: center;
        text-transform: uppercase;
        display: block;
        font-weight: 700;
        letter-spacing: 0.25em;
        font-size: 0.9em;
        width: 25em;
        height: 3.25em;
        top: -3.25em;
        line-height: 3.25em;
        margin-bottom: -3.25em;
        margin-left: -12.5em;
        padding-top: 0.5em;
        background: var(--secondary) url("/assets/noble/overlay.png");

        &:before {
            content: '';
            position: absolute;
            bottom: -32px;
            left: -35px;
            width: 35px;
            height: 38px;
            background: url("/assets/noble/shadow.png");
        }

        &:after {
            transform: scaleX(-1);
            content: '';
            position: absolute;
            bottom: -32px;
            right: -35px;
            width: 35px;
            height: 38px;
            background: url("/assets/noble/shadow.png");
        }
    }


}

@media screen and (max-width: 345px) {
    .title {
        width: 18em !important;
        margin-left: -9em !important;
        font-size: 0.8em !important;
    }
}

#footer {
    background: var(--secondary) url("/assets/noble/overlay.png");
    color: white;
    padding-bottom: 6em;
    width: 100%;
}

.container {
    margin: 10px 10px 10px 20px;
    display: flex;
    justify-content: space-around;

}

#copyright {
    text-align: center;
    // padding-top: 2em;
    // margin-top: 2em;
    margin-bottom: -6em;
    // border-top: solid 1px rgba(255, 255, 255, 0.421);
}

#copyright ul {
    display: inline-block;
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.421);
    color: var(--primary);
    color: rgba(251, 251, 251, 0.606);
    padding: 0.75em 2em;
    font-size: 0.99em;
}

#copyright ul li {
    display: inline-block;
    // margin-left: 1em;
    // padding-left: 1em;
    // border-left: solid 1px #333;
    // border-left-color: rgba(255, 255, 255, 0.421);
}

h3 {
    font-size: 1.15em;
    line-height: 1.75em;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

.featureList {
    display: flex;
    flex-wrap: wrap;
    margin: 5em 0 3em 0;
    gap: 5em;
}

.heading {
    color: var(--primary) !important;
    // margin: -0em 0 0.75em;
    font-size: 1.15em;
    letter-spacing: .05em;
    font-weight: 700;
}