<section id="intro" class="wrapper style1">
    <div class="pageMargin">
        <div class="title">The Introduction</div>
        <div class="container">
            <p class="style1">Embark on a journey of innovation and success with Noble Wave...</p>
            <p class="style2">
                Our team of skilled developers brings expertise in web development, cloud solutions, database
                 management, and advanced search capabilities. 
            </p>
            <p class="style3">
                Welcome to Noble Wave, your trusted partner for cutting-edge software development services. We
                specialize in crafting robust and scalable solutions using technologies like Azure, AWS, .NET Core,
                Node.js, Angular, SQL Server, PostgreSQL, MongoDB, and Elasticsearch. With our expertise and commitment
                to excellence, we empower businesses to thrive in the digital era.
            </p>
            <a href="#footer" class="button">Proceed</a>
        </div>
    </div>
</section>