/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Ensure the body takes up the full viewport height */
body {
    height: 100vh;
    margin: 0;
    overflow-y: auto;
}

/* Add a reset to the container class */
.container {
    margin: 0;
    padding: 0;
}

/* Ensure the intro section and its parent take up the full viewport height */
#intro {
    padding-bottom: 8em;
    text-align: center;
    margin-top: 0em;
    width: 100%;


    p.style1 {
        font-size: 1.5em;
        letter-spacing: 0.075em;
    }

    p.style2 {
        font-weight: 700;
        color: #fff;
        border-radius: 0.35em;
        box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
        font-size: 2.3em;
        letter-spacing: 0.14em;
        line-height: 1.35em;
        padding: 1em 0 1em 0;
        margin-bottom: 1em;
        margin-top: 1.5em;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    p.style3 {
        font-size: 1.1em;
        margin: 0 auto;
    }
}

.wrapper {
    position: relative;
    padding: 6em 0 9em 0;

    .title {
        position: absolute;
        top: 0;
        left: 50%;
        text-align: center;
        text-transform: uppercase;
        display: block;
        font-weight: 700;
        letter-spacing: 0.25em;
        font-size: 0.9em;
        width: 25em;
        height: 3.25em;
        top: -3.25em;
        line-height: 3.25em;
        margin-bottom: -3.25em;
        margin-left: -12.5em;
        padding-top: 0.5em;

        &:before {
            content: '';
            position: absolute;
            bottom: -32px;
            left: -35px;
            width: 35px;
            height: 38px;
            background: url("/assets/noble/shadow.png");
        }

        &:after {
            transform: scaleX(-1);
            content: '';
            position: absolute;
            bottom: -32px;
            right: -35px;
            width: 35px;
            height: 38px;
            background: url("/assets/noble/shadow.png");
        }
    }

    &.style1 {
        background: var(--primary) url("/assets/noble/overlay.png");
        color: #eee;
        color: rgba(255, 255, 255, 0.75);

        .title {
            background: var(--primary) url("/assets/noble/overlay.png");
            color: #fff;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        strong,
        b,
        a {
            color: #fff;
        }
    }

}

/* If necessary, center the content in the intro section */
#intro .pageMargin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Add a max-width to the container class to prevent it from getting too wide on large screens */
.container {
    max-width: 1200px;
    /* Adjust this value as needed */
    margin: 0 auto;
}


.button {
    display: inline-block;
    position: relative;
    background-color: var(--secondary);
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 15px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-decoration: none;
    border-radius: 0.35em;
    margin-top: 1.5em;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}


/* Adjust padding and font sizes for smaller screens */
@media screen and (max-width: 1217px) {
    .pageMargin {
        margin: 0 0.8rem !important;
    }
}

/* Adjust padding and font sizes for smaller screens */
@media screen and (max-width: 850px) {
    #intro {
        padding-bottom: 7em;
    }

    #intro p.style1 {
        font-size: 1.25em;
    }

    #intro p.style2 {
        font-size: 2em;
    }
}

/* Adjust padding and font sizes for even smaller screens */
@media screen and (max-width: 500px) {
    #intro {
        padding-bottom: 8em;
    }

    #intro p.style1 {
        font-size: 1.5em;
        letter-spacing: 0.075em;
    }

    #intro p.style2 {
        font-size: 1.8em;
    }

    #intro p.style3 {
        font-size: 1em;
    }

    .title {
        width: 25em !important;
        font-size: 0.8em !important;

    }

    .pageMargin {
        margin: 0 0.8rem !important;
    }
}