<div id="home">
  <div class="background-video" (click)="playVideo()">
    <video id="videoElement" loop>
      <source src="/assets/video/ocean.mp4" type="video/mp4">
    </video>
  
    <div class="text">
      <p class="heading">Wave of Excellence, Transforming Ideas into Solutions</p> 
      <p class="para">Noble Wave is your partner in software excellence. With a focus on Azure, AWS, .NET Core,
        Node.js,
        Angular, SQL Server, PostgreSQL, MongoDB, and Elasticsearch. </p>
  </div>
  </div>
</div>
